*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
 height: 100vh; 
}

#header{
    height: 50px;
    width: 100vw;
    background-color: rgb(228, 202, 202);
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: baseline;
    font-size: 20px;
}
#login{
    height: 20px
}

#section{
    display: flex;
    justify-content: space-between;
    width: 50vw ;
    text-decoration: none;
}

#section2{
    display: flex;
    justify-content: space-around;
}
#login{
    color: white;
    background-color: rgb(18, 116, 236);
    height: 40px;
    width: 80px;
    border-style: none;
    border-radius: 5px;
    font-size: 18px;
    transition-property: scale;
    transition-duration: 0.3s;
    scale: 1;
}



.nav{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#login:hover{
    background-color: rgb(0, 98, 255);
    scale: 1.05;
    transition: ease-in-out 1s;
}

main{
    display: flex;
    /* flex-direction: column; */
    gap: 32px;
    align-items: center;
    margin-left: 9%;
    margin-top: 20px;
    flex-wrap: wrap;
}

div{
    height: 200px;
    width: 300px;
    background-color: yellow;
    border: 2px black solid;

}

@media (width < 750px) {
    #section{
        display: none;

    }
    #header{
        background-color: rgb(20, 188, 210);
    }
    main{
        display: flex;
        flex-wrap: wrap;
    }
}

footer{
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    
}