*{
    /* margin: 0px;
    padding: 0px; */
}
body{
    background-color: rgb(43, 42, 42);
}
.chess-box{
    width: 2500px;
    height: 2500px;
    border: 25px rgb(60, 32, 23) solid;
    margin: auto;
    /* justify-content: center; */
    margin-top: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.black{
    background-color: black;
    
    height: 312.5px;
    width: 312.5px;  
}
.white{
    background-color: rgb(233, 215, 191);
    height: 312.5px;
    width: 312.5px; 
}
span{
    display: flex;
    flex-wrap: wrap;
}
section{
    display: inline;
}